body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.calculator {
    width: 300px;
    background-color: #1c0b0b;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(40, 182, 45, 0.4);
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 24px;
    text-align: right;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #021606;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #140101;
    color: #1199e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ed7412;
}

.operator {
    background-color: #FFA500;
    color: #333;
}

.operator:hover {
    background-color: #FF8C00;
}
