
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(136, 130, 130);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background-color: #c5ddf8;
    color: white;
    padding: 20px;
    margin: 0 -20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

blockquote {
    font-size: 1.2rem;
    margin: 10px 0;
}
#quotes {
    background-color: rgb(255, 214, 214);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.quote img {
    max-width: 100%;
    height: auto;
    border: 1px solid #110101;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
